body {
  background:  url("./images/headphone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
div.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 20px 20px 0;
  list-style: none;
  text-align: right;
}
.navbar li {
  display: inline-block;
  padding-right: 0;
}
.navbar a:link {
  font-size: 16px;
  text-decoration: none;
  color: rgba(225, 225, 225, 0.9);
  opacity: 1.0;
  padding-left: 20px;
}
.navbar a:hover {
  color: #ffffff;
}
.login-form {
  list-style: none;
  text-align: center;
}
.login-form li {
  padding-top: 20px;
  list-style: none;
}
input[type=text] {
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 20px;
}
input[type=password] {
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 20px;
}
.room-link {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.room-link a:link {
  text-decoration: none;
  color: #ffffff;

}
.room-link li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}
.headphone-image {
  height: 200px;
  width: 200px;
}
